<h1>Heroes y Villanos de <small>Marvel y DC</small></h1>
<hr>

<div class="input-group bottom30">
  <div class="input-group-prepend">
    <span class="form-control-lg input-group-text" id=""><span class="fas fa-search"></span></span>
  </div>
  <input class="form-control form-control-lg width" type="text" placeholder="Buscar personaje por nombre..."
    (keyup)="searchHeroByName()" [(ngModel)]="name">
</div>

<div class="card-columns">  
    <div class="card w3-hover-shadow animated fadeIn fast"
      *ngFor="let hero of heroes; let i = index">
      <a style="cursor: pointer;"
        (click)="getHero(i)">
        <img class="card-img-top img-fluid" 
          style="max-height: 400px" [src]="hero.img" [alt]="hero.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ hero.nombre }}</h5>
          <p class="card-text">{{ hero.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
        </div>
      </a>
    </div>
</div>
